* {
    padding: 0;
    margin: 0;

    font-family: "Raleway";
}

body {
    transition: 1000ms;
    opacity: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: black;
}

main {
    display: block;

    position: relative;

    top: 1em;
    left: 1em;

    width: calc(100vw - 2em);
    height: calc(100vh - 2em);

    border-radius: 4px;
}

h2 {
    position: absolute;

    left: 3em;
    top: 2em;

    z-index: 20000;
    font-size: 40px;
    color: white;

    width: calc(100% - 4em);

    border-bottom: solid 1px gray;
}

/* Menu */
aside {
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
        align-items: center;

    -ms-flex-direction: column;
        flex-direction: column;

    -ms-flex-pack: distribute;
        justify-content: space-around;

    position: absolute;

    top: 120px;
    left: 18px;
    z-index: 1;

    width: 48px;

    padding: 1em;

    background-color: rgba(0,0,0,0.5);
    border-radius: 30px;
}

.side-button {
    z-index: 100;

    display: block;
    position: relative;

    width: 40px;
    height: 40px;

    margin-top: 70px;
}

.side-button:first-of-type {
    margin-top: 0;
}

/* content */
section {
    background-color: black;
}

.content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* Project info sections */
.projectinfo {
    display: inline-block;

    position: absolute;
    left: 7.5em;
    bottom: 2.5em;

    width: 40%;
    height: calc(92% - 13em);

    overflow-y: scroll;

    background-color: rgba(0,0,0,0);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    border-left: solid 1px gray;
}
.projecttext {
}
h3 {
    text-shadow: none;
    font-size: 24px;
    margin-left: 0.7em;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
#timeline {

    position: absolute;
    left: 7.5em;
    top: 9em;

    background-image: url("../img/timeline2.png");

    width: calc(100% - 10em);
    height: 8%;

    background-size: contain;
}

/* news feed */
.newsfeed {
    position: absolute;
    left: calc(7.5em + 40% + 5em);
    bottom: 2em;

    display: inline-block;

    width: 40%;
    height: calc(92% - 14em);

    background-color: rgba(0,0,0,0);
    color: white;

    border-left: solid 1px gray;

    padding: 1em;
}

#QR {
  background-image: url("../img/QR.png");
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;

  float: right;

  width: 10em;
  height: 10em;

  clear: both;
}
.forward {
    display: -ms-flexbox;
    display: flex;

    /*center text*/
    -ms-flex-align: center;
        align-items: center;

    -ms-flex-pack: center;
        justify-content: center;

    position: relative;

    margin-top: 1em;

    width: 20em;
    height: 2em;

    color: black;
    background-color: rgba(255,255,255, 0.8);

    border-radius: 4px;
}

#feed {
    margin-top: 1em;
    border-top: solid 1px gray;

    height: 5em;
}

/* Slides */

.wrapper {
    width: 50%;
    height: 40%;

    opacity: 0.5;
}

.mySlides {
    transition: 1000ms;

    display: block;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    border-radius: 4px;
}

/* back button */

#back {
    z-index: 100000;

    display: -ms-flexbox;
    display: flex;

    /*center text*/
    -ms-flex-align: center;
        align-items: center;

    -ms-flex-pack: center;
        justify-content: center;

    position: absolute;

    left: 34px;
    top: 10px;

    font-size: 32px;

    width: 48px;
    height: 48px;

    background-color: rgba(0,0,0,0.6);
    color: white;

    border-radius: 24px;

    animation-name: horizontalfloat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* Animations */
@keyframes horizontalfloat {
    0% {left: 14px;}
    50% {left: 19px;}
    100% {left: 14px;}
}
